.no-panel-borders {
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border: none;
    background: none;
}

/*
  default-text: #403a3a
  default-bg: #f0f0f0
*/

.lg-panel {
    background: #f6f6f6;
}

.table-message-box td {
    padding-right: 10px;
    vertical-align: top;
    line-height: 1.25;
}

.table-message-box td:first-child {
    width: 140px;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;
}

/*
  default-text: #403a3a
  default-bg: #f0f0f0
*/
