.lg-panel {
    background: #f0f0f0;
}

.table-message-box td {
    padding: 0 0 5px 0;
    vertical-align: top;
    line-height: 1.25;
}

.table-message-box td:first-child {
    width: 140px;
}

.no-panel-borders {
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border: none;
    background: none;
}

/*
  default-text: #403a3a
  default-bg: #f0f0f0
*/
