.rm-courtesy-notice p {
    color: gray;
    text-shadow: white 0 1px 1px;
    text-align: center;
}

.rm-label p, .rm-label h4, .rm-label h5, .rm-label h6 {
    font-weight: bold;
    color: #333;
}

.rm-label p {
    text-shadow: rgba(255, 255, 255, 1) 0 0.1em 0.1em;
}

.rm-label h4, .rm-label h5, .rm-label h6 {
    text-shadow: white 0 1px 1px;
}

.lg-panel {
    background: #EEE;
}

.status-message-box p {
    padding: 0 0 5px 10px;
    text-shadow: rgba(255, 255, 255, 1) 0 0.1em 0.1em;
    color: #333;
    margin: 0;
    vertical-align: top;
    line-height: 1.25;
}

.status-message-box p:first-child {
    padding: 0 0 0 0;
    color: gray;
}

.status-message-box div.x-title > div {
    color: #333;
    text-shadow: white 0 1px 1px;
}

.no-panel-borders {
    border-width: 0px;
    border-color: rgba(0, 0, 0, 0);
    border: none;
    background: none;
}

/*
  default-text: #403a3a
  default-bg: #f0f0f0
*/
